<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="estilos.css" rel="stylesheet">

</head>
    <title>Vanguard Engineer</title>
<body>
    <h1>Third Page using Azure</h1>
    
    <div class="ferramentasUsadas"> 
        <p>
            <h4> Node with Express</h2> 
            <h4> Azure Cloud </h4>
            <h4> CSS</h3> 
            <h4> Image </h5>
            
        </p>
       
    </div>
    <div>
        <table>
            <tr>
                <td><b>Nome</b> </td>
                <td><b>RA</b></td>
            </tr>
            <tr>
                <td><b>Anderson</b></td>
                <td><b>1600598</b></td>
            </tr>
            <tr>
                <td><b>Luiz</b></td>
                <td><b>123456</b></td>
            </tr>
            <tr>
                <td><b>Lara</b></td>
                <td><b>654789</b></td>
            </tr>
        </table>
    </div>
        <a href="https://www.linkedin.com/in/anderson-dos-santos-souza-6422811aa/" target="_blank">My linkedin</a>    
    <p>
        <a href="https://www.instagram.com/andersonsouza83/" target="_blank">My Instagram</a>
    </p>
    <p>
        <a href="https://github.com/AndersonEngenheiro/staticPage-withNodeAndExpress" target="_blank">My Github(Repository of Project)</a>
    </p>
    <button name="btMsg" id="btnMsg">Clique aqui</button>
    <h6>Autor: Anderson dos Santos Souza</h5>
   <img src="festaCasamento.jpeg" alt="LaraAndMe">
   <img src="caneca.png" alt="caneca">

   <script type="text/javascript" src="index.js"> </script>
</body>
</html>